body {
  background-image: url('images/subway.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  padding: 3em;
  cursor: url('images/cursor.png'), auto;
  margin: 0;
  height: 100%;
}

#gallery {
	background-image: url('images/sky.jpg');
	background-color: #212121;  /* dark gray */
}

h1 {
	font-size: 4em;
}

.skater {
	color: cyan;
}

.grandpa {
	color: yellow;
}

h2 {
	font-size: 2em;
}

#some-rad-content {
	margin-top: 6em;
}

#some {
	color: #00ff00;  /* bright green */
}

#rad {
	color: white;
	background-color: red
}

#content {
	color: #9900ff;  /* magenta */
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	padding-bottom: 20px;
}

#content-list mark {
	color: white;
	background-color: #0000ff;  /* lapis */
}

#get-in-touch {
	margin-top: 6em;
	color: #00ff00;  /* bright green */
}

#email {
	color: white;
	background-color: #ff00ff;  /* hot pink */
}

a {
	outline : none;
	text-decoration: none;
}

a:hover {
	cursor: url('images/cursor.png'), auto;
}

a mark:hover {
	cursor: url('images/cursor.png'), auto;
	box-shadow: 10px 10px black;
}

/*#gallery-frame {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}*/

#gallery-screen {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	border-radius: 30px;
}